<!--The whole content below can be removed with the new code.-->
<header style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</header>
<label [title]="title" [class]="'active'">
  <input type="radio"/>{{title}}
</label>
<ul>
  <li><a [routerLink]="'/home'" routerLinkActive="active">Home</a></li>  
  <li><a [routerLink]="'/courses'" routerLinkActive="active">Courses</a></li>
</ul>
<router-outlet></router-outlet>
<footer style="text-align:center">
  <p>
    Copyright
    <p>
</footer>